* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.Background-top {
  background-image: url("./website_images/home-images/home_background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.Background-mid {
  background-color: rgb(69, 69, 69);
}

.Background-bottom {
  background-color: gray;
}

.Intro {
  color: white;
  white-space: pre-line;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.Slogan {
  color: green;
}