* {
    box-sizing: border-box;
}

.container {
    background-color: rgb(69, 69, 69);
    color: white;
}

.Header-Img {
    display: block;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.back-button {
    background-color: rgb(69, 69, 69);
    color: rgb(159, 144, 244);
    border: 2px solid rgb(159, 144, 244);
    width: 100%;
    transition-duration: 0.4s;
    position: relative;
    margin-top: 100%;
    margin-right: 100%;
}

.back-button:hover {
    background-color: rgb(159, 144, 244);
    color: rgb(69, 69, 69);
}

.Checkmark {
    background-color: rgb(69, 69, 69);
    height: 33%;
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

