* {
    box-sizing: border-box;
    text-align:center;
}

.league {
    border-style:hidden;
    width: 100%;
    margin-left: 5rem;
}

.league-img {
    width: 90%;
    height: auto;
    border-radius: 1.813rem;
}

.check {
    width: 40%;
    height: auto;
    margin-bottom: 1.25rem; 
}

.info-button {
    background-color: rgb(49, 49, 49);
    color: rgb(141, 125, 181);
    border: .125rem solid rgb(144, 125, 181);
    width: 90%;
    transition-duration: 0.4s;
    border-radius: .313rem;
    font-weight: bold;
    font-family: 'Helvetica';
}

.info-button:hover {
    background-color: rgb(141, 125, 181);
    color: rgb(49, 49, 49);
}

.Background-leagues {
    background-color: rgb(49, 49, 49);
    padding: 3.125rem;
    padding-left: 0rem;
    padding-right: 10%;
    transform: translateY(-10%);
    z-index: 1;
}

.Background-bottom {
    background-color: gray;
}

.Leagueh1{
    color: white; 
    font-size: 2rem;
    /* Set a text shadow with a blur radius of 4px and an offset of 2px */
    text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.8);
    font-family: 'Helvetica';
    font-weight: bold;
} */

.Leaguep {
    color: rgb(144, 141, 141);
    font-size: 1.313rem;
    font-family: 'Helvetica';
    /* Set a text shadow with a blur radius of 4px and an offset of 2px */
    text-shadow: 125rem .063rem 125rem rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin-top: .313rem;
}

.back-img {
    background-image: url("../../../website_images/games/cod/cod-leagues/snd-league-unround.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    border-radius: 29px;
    padding-bottom: 70px;
    padding-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    filter: brightness(90%);
    transition: filter 0.7s;
  } 

.league-img:hover {
  filter: brightness(135%);
  transition: filter 0.7s;
}

.parent {
    position: relative;
}


.over-img {
    position: absolute;
    top: 6%;
    right:5%;
    transform: translateX(-50%);
    width: 6%;
    height: auto;
    transform-origin: center;
    transition: transform 0.3s;
    display: block;

}
.over-img:hover {
  transition: filter 0.7s;
  filter: contrast(200%);               
  }
  

transition {
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
  transition-property: width, left;
} 
  
.back-img:hover {
    width: 100%;
    height: 100%;
} 

.check2 {
    width: 40%;
    height: auto;
    margin-bottom: 5.625rem;
    margin-left: 10%;
    margin-top: .313rem;
    
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    width: 100%;
    height: 6.25rem;
    border-bottom: .063rem solid rgb(255, 252, 252);
    margin-left: 5rem;
    margin-bottom: 3.75rem;
    
}

#league-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    transform: translate(-50%, -90%);

  }
  
  .Underline-h {
    width: 100rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);

  }
  
  .Header-Img-l {
    display: block;
    width: 100%;
    height: 50rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 0; /* Decrease the z-index */
    top: -18.75rem;
  }
  
  #league-header {
    position: relative;
  }