@font-face {
    font-family: Helvetica-Bold;
    src: url('../Helvetica-Bold.ttf');
}

body {
    font-family: Helvetica-Bold;
    background-color: #313131;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}