* {
    box-sizing: border-box;
}


.blockimg1 {
    width: 100%;
} 

.blockimg2 {
    width: 100%;
} 

.blockimg3 {
    width: 100%;
} 

.blockimg4 {
    width: 100%;
} 

.blockimg5 {
    width: 100%;
} 