/* }.socials img {
    margin: 10px;
    width: 100px;
    height: 100px;
}

#contact-us-gfm {
    width: 200px;
    height: 200px;
}

#jake-headshot {
    width: 200px;
    height: 200px;
}

#matt-headshot {
    width: 200px;
    height: 200px;
}

#mason-headshot {
    width: 200px;
    height: 200px;
}

.contact-us-event-host {
    margin: 10px 200px;
}

.support-us {
    margin: 10px 200px;
}

#contact-us-event-host-p {
    margin-top: 25px;
}

#contact-us-gmail {
    width: 150px;
    height: 150px;
    float: left;
}

.find-us {
    background-image: url("../../website_images/home-images/home_background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    font-size: xx-large;
}

.contact-us-text {
    margin: 10px 200px;
    color: white;
}

*/