.verified-checks-images {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 20rem;
    background-image: url("https://i.imgur.com/mViTltX.png");
    background-size: auto 20rem;
}

.verified-checks-row {
    height: 100%;
    padding: 5rem 0;
}

.verified-checks-col {
    height: 100%;
}

.verification-header-img {
    height: 20rem;
}

.usync-veri-image {
    margin-bottom: 5rem;
}

.verified-features-img {
    margin-bottom: 3rem;
}

#verification-premium {
    color: white;
    margin-top: 5rem;
    font-size: 1rem;
    font-weight: bold;
}

#verification-post-event {
    color: white;
    margin-top: 3rem;
    font-size: 1.25rem;
    font-weight: bold;
}

#verification-post-event-a {
    text-decoration: underline !important;
    color: rgb(141, 125, 181);
}

#verification-post-event-a:hover {
    color: purple;
}