---
import App from '../../components/App.jsx';
import Nav from '../../components/Nav.jsx';
import Body from '../../components/Body.jsx';
import Footer from '../../components/Footer.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>uSync - Games</title>
	</head>
	<Nav></Nav>
    <Body></Body>
    <Footer></Footer>
</html>