---
import App from '../../../components/App.jsx';
import Nav from '../../../components/Nav.jsx';
import Body from '../../../components/Body.jsx';
import Footer from '../../../components/Footer.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>uSync - Event Host</title>
	</head>
	<Nav></Nav>
    <div id="body">
        <div id='heading-body'>
            <h1 id='heading-text'>Our Events</h1>
        </div>
        <div class='section'>
            <p style='margin-top: 50px;'>All of our events are taken through a verification process that proves that the event is legitimate and in good standing with payouts (if applicable). 
                At uSync you can trust the events you are entering without having to do extensive research, we take care of it all for you in one place!
            </p>
            <p style='margin-top: 50px;'>We strive to bring as many events as possible to the community and create a hub of competitive esports. 
                However, in our search for competitive events we may miss some. 
                That's why we allow anyone to feature any event of their choosing on the form below! 
                Submit your application today!
            </p>
            <a href='./more/event-host/event-host-request' class='actionButton' style='margin-top: 50px;'>Feature Your Event</a>
        </div>
        <div class='divider'></div>
        <div class='section moreLooking'>
            <p class='moreLooking'>Already Featured? Become <a href='./more/verification' style='color: #8D7DB5; text-decoration: underline;'>Verified</a></p>
        </div>
    </div>
    <Footer></Footer>
</html>