.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a img {
  height: 25%;
  width: 25%;
}

.home-top {
  background-image: url("./images/computer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#home-usyncLogo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  margin: auto;
}

.home-top #finding-esports {
  color: white;
  font-size: 400%;
}

.home-top #get-started {
  padding: .5rem .75rem;
  width: 90%;
  background-color: transparent;
  font-size: 150%;
  color: white;
  border-color: white;
}

.home-top #we-sync {
  color: green;
  font-size: 400%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
