.our-events {
    background-image: url("../../website_images/home-images/home_background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    font-size: xx-large;
}

.event-text h3 {
    color: white;
}