.Header-Img {
  display: block;
  width: 100%;
  height: 57rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0; /* Decrease the z-index */
  top: -18.75rem;
}

.Background-mid {
  background-color: rgb(49, 49, 49);
  padding: 3.125rem;
  padding-left: 0rem;
  padding-right: 10%;
  position: relative;
  margin-top: -40%; /* adjust the margin-top property */
  z-index: 1;
  text-align: center;
  padding-bottom: 10%;
}

.Background-lans {
  position: absolute;
  top: 70%;
  width: 100%;
  height: 150%; /* set the height to 200% to double the vertical size */
  background-color: rgb(49, 49, 49);
  z-index: 1;
  transform: translateY(-40%);
}

.back-button {
    background-color: rgb(49, 49, 49);
    color: rgb(141, 125, 181);
    border: .125rem solid rgb(141, 125, 181);
    width: 15%;
    transition-duration: 0.4s;
    position: relative;
    font-weight: bold;
    font-family: 'Helvetica';
    margin-right: 65%; /* Add a left margin of 10% */
    border-radius: .313rem;
}

.back-button:hover {
    background-color: rgb(141, 125, 181);
    color: rgb(49, 49, 49);
}

.Checkmark {
  position: absolute;
  top: 15%; /* Move upward */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5%; /* Increase the width */
  height: auto; /* Make the height adjust to the width to prevent stretching */
  margin-bottom: 10px; /* Add some space between the checkmark and its title */
}
  
.Checkmark-title {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 5.5%; /* Move further upward than the checkmark */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%; /* Keep the same width */
  height: auto; /* Set height to auto to maintain aspect ratio */
}
          

  .join-button {
    background-color: rgb(49, 49, 49);
    color: rgb(141, 125, 181);
    border: .125rem solid rgb(144, 125, 181);
    width: 50%;
    transition-duration: 0.4s;
    border-radius: .313rem;
    font-weight: bold;
    font-family: 'Helvetica';
    margin: 0 auto; /* Add a margin property to center the button */
    position: absolute; /* Set the position to absolute */
    left: 50%; /* Position the button horizontally at the center of the parent element */
    transform: translate(-50%, -50%); /* Adjust the position of the button based on its dimensions */
    top: 24%; /* Adjust the top position as needed */
    height: 2.2rem
}

.join-button:hover {
    background-color: rgb(141, 125, 181);
    color: rgb(49, 49, 49);
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10% 0;
  }
  
  .info-title {
    color: white;
    text-align: center;
    text-decoration-line: underline;
    position: relative;
    top: 7%;
  }
  
  .info-title2 {
    color: white;
    text-align: center;
    text-decoration-line: underline;
    position: relative;
    top: 7%;
  }
  
#league-info p {
  color: white;
  font-size: 1.5rem;
  position: relative;
  font-weight: normal;
  top: 7%;
}
  
  #league-body {
    position: relative;
  }
  
  #league-row {
    text-align: center;
    transform: translate(6%,25%);
    min-width: 50rem;
  }
  
  .Leaguep {
    color: rgb(144, 141, 141);
    font-size: 1.313rem;
    font-family: 'Helvetica';
    /* Set a text shadow with a blur radius of 4px and an offset of 2px */
    text-shadow: 125rem .063rem 125rem rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin-top: .313rem;
}

#verif-img {
  margin-top: 20rem;
  margin-bottom: 20rem;
}


#verif-row {
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.Checkmark-check {
  position: absolute;
  top: -10%; /* Move upward */
  left: 43%;
  transform: translate(-50%, -50%);
  width: 10%; /* Increase the width */
  height: auto; /* Make the height adjust to the width to prevent stretching */
}
.Checkmark-notcheck {
  position: absolute;
  top: -10%; /* Move upward */
  left: 57%;
  transform: translate(-50%, -50%);
  width: 10%; /* Increase the width */
  height: auto; /* Make the height adjust to the width to prevent stretching */
}
.Checkmark-title-verification {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 5.5%; /* Move further upward than the checkmark */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%; /* Keep the same width */
  height: auto; /* Set height to auto to maintain aspect ratio */
}

.Underline-h-verification {
  position: absolute;
  top: 8.5%;
  left: 9%;
}
.info-title-verification {
  color: white;
  position: relative;
  top: -130%;
  width: 150%;
  right: 15%;
  font-size: 2rem;
}
.verified-title {
  color: white;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  left: 6%;
  transform: translateY(-720%);
  font-weight: 700;
}
.Underline-h-verification-2 {
  position: absolute;
  top: 33.5%;
  left: 9%;
}
.info-title-veri {
  color: white;
  position: relative;
  top: -140%;
  right: 20%;
  font-size: 1.8rem;
  text-align: left;
  font-weight: 700;
}
.verified-button {
  background-color: rgb(49, 49, 49);
  color: rgb(141, 125, 181);
  border: .125rem solid rgb(141, 125, 181);
  width: 30%;
  transition-duration: 0.4s;
  position: absolute;
  font-weight: bold;
  font-family: 'Helvetica';
  border-radius: .313rem;
  top: 73%;
  right: 34.5%;
  height: 2.8%;
}

.verified-button:hover {
  background-color: rgb(141, 125, 181);
  color: rgb(49, 49, 49);
}
.Background-mid-veri {
  background-color: rgb(49, 49, 49);
  padding: 3.125rem;
  padding-left: 0rem;
  padding-right: 10%;
  position: relative;
  margin-top: -40%; /* adjust the margin-top property */
  margin-bottom: -10%;
  z-index: 1;
  text-align: center;
}
.event-title {
  color: white;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  left: 6%;
  transform: translateY(-65%);
  font-weight: 700;
}
.Underline-h-verification-event {
  position: absolute;
  top: 7%;
  left: 9%;
}
.info-title-verification-event1 {
  color: white;
  position: relative;
  top: -95%;
  width: 150%;
  right: 15%;
  font-size: 2rem;
}
.info-title-verification-event {
  color: white;
  position: relative;
  top: -80%;
  width: 150%;
  right: 15%;
  font-size: 2rem;
}
.eventhost-button {
  background-color: rgb(49, 49, 49);
  color: rgb(141, 125, 181);
  border: .125rem solid rgb(141, 125, 181);
  width: 30%;
  transition-duration: 0.4s;
  position: absolute;
  font-weight: bold;
  font-family: 'Helvetica';
  border-radius: .313rem;
  top: 52%;
  right: 34.5%;
  height: 3%;
}

.eventhost-button:hover {
  background-color: rgb(141, 125, 181);
  color: rgb(49, 49, 49);
}
.Background-mid-event {
  background-color: rgb(49, 49, 49);
  padding: 3.125rem;
  padding-left: 0rem;
  padding-right: 10%;
  position: relative;
  margin-top: -40%; /* adjust the margin-top property */
  margin-bottom: -18.5%;
  z-index: 1;
  text-align: center;
}
.twitter-contact {
  position: absolute;
  top: 25%; /* Move upward */
  left: 60.5%;
  width: 8%; /* Increase the width */
  height: auto; /* Make the height adjust to the width to prevent stretching */
  z-index: 2;
}
.instagram-contact {
  position: absolute;
  top: 25%; /* Move upward */
  left: 51%;
  width: 8%; /* Increase the width */
  height: auto; /* Make the height adjust to the width to prevent stretching */
  z-index: 2;
}
.youtube-contact {
  position: absolute;
  top: 25%; /* Move upward */
  left: 41.5%;
  width: 8%; /* Increase the width */
  height: auto; /* Make the height adjust to the width to prevent stretching */
  z-index: 2;
}
.twitch-contact {
  position: absolute;
  top: 25%; /* Move upward */
  left: 32%;
  width: 8%; /* Increase the width */
  height: auto; /* Make the height adjust to the width to prevent stretching */
  z-index: 2;
}
.event-title-contactus {
  color: white;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  left: 6%;
  transform: translateY(-75%);
  font-weight: 700;
}
.info-title-contactus {
  color: white;
  position: relative;
  top: -39%;
  width: 150%;
  right: 15%;
  font-size: 2rem;
}
.info-title-contactus2 {
  color: white;
  position: relative;
  top: -5%;
  width: 150%;
  right: 15%;
  font-size: 1.2rem;
}
.Background-mid-contact {
  background-color: rgb(49, 49, 49);
  padding: 3.125rem;
  padding-left: 0rem;
  padding-right: 10%;
  position: relative;
  margin-top: -40%; /* adjust the margin-top property */
  z-index: 1;
  text-align: center;
}
.event-title-contactus2 {
  color: white;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  left: 10%;
  transform: translateY(-120%);
  font-weight: 700;
}
.Underline-h-verification-event2 {
  position: absolute;
  top: 55%;
  left: 9%;
}
.jake-image {
  position: absolute;
  top: 70%; /* Move upward */
  left: 18%;
  width: 20%; /* Increase the width */
  height: auto; /* Make the height adjust to the width to prevent stretching */
  z-index: 2;
}
.matt-image {
  position: absolute;
  top: 70%; /* Move upward */
  left: 40.5%;
  width: 20%; /* Increase the width */
  height: auto; /* Make the height adjust to the width to prevent stretching */
  z-index: 2;
}
.mason-image {
  position: absolute;
  top: 70%; /* Move upward */
  left: 63.5%;
  width: 20%; /* Increase the width */
  height: auto; /* Make the height adjust to the width to prevent stretching */
  z-index: 2;
}
.cofounder-title-jake {
  color: white;
  position: absolute;
  top: 97.9%;
  left: 23%;
  font-size: 1.5rem;
}
.cofounder-title-matt {
  color: white;
  position: absolute;
  top: 97.9%;
  left: 43.5%;
  font-size: 1.5rem;
}
.cofounder-title-mason {
  color: white;
  position: absolute;
  top: 97.9%;
  left: 69%;
  font-size: 1.5rem;
}
.cofounder-title-jake1 {
  color: white;
  position: absolute;
  top: 101%;
  left: 23%;
  font-size: 1.1rem;
}
.cofounder-title-matt1 {
  color: white;
  position: absolute;
  top: 101%;
  left: 47%;
  font-size: 1.1rem;
}
.cofounder-title-mason1 {
  color: white;
  position: absolute;
  top: 101%;
  left: 70.5%;
  font-size: 1.1rem;
}

#league-body1 {
  background-color: rgb(49, 49, 49);
  position: relative;
  padding-bottom: 20%;
}
