#usync-nav-logo {
    width: 100%;
}

.navbar {
    z-index: 99999999;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    width: 10rem;
    margin-left: 2rem;
}

.dropdown-item:hover {
    color: rgb(142, 106, 206);
    background-color: #212529;
    width: auto;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

li .active {
    color: rgb(142, 106, 206);
}

@media only screen and (min-width: 992px) {
    .navbar-total-container {
        position: absolute;
        right: 2rem;
    }

    .dropdown-item {
        color: white;
        width: 100%;
        padding: 1rem;
    }

    .dropdown-menu {
        border: none;
        margin-top: .35rem;
    }

    .navbar-nav li {
        padding: 0 .75rem;
    }

    .more-dropdown-container {
        right: 0;
        left: auto;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-toggler {
        position: absolute;
        left: 1rem;
        border: none;
        top: 1rem;
    }

    .navbar-brand {
        margin-left: 5rem;
    }

    #navbarNav {
        width: 15rem;
    }

    .dropdown-menu {
        border: none;
        width: 12rem;
        margin: 0 auto;
        text-align: center;
        border: solid .1rem white;
    }

    .dropdown-item {
        color: white;
        width: 100%;
    }
}