/* Style the navbar */
.nav {
  background-color: rgb(29, 29, 28);
  display: flex;
  align-items: center;
  height: 4.5rem;
  padding: 0 1.25rem 0 0; /* reduce right padding to 0 */
  position: fixed;
  z-index: 9999999;
  top: 0;
  width: 100%;
}

/* Style the site title logo */
.site-title img {
  height: 3.8rem;
  margin-left: 5%;
  margin-top: 2.5%;
}

/* Style the list items in the navbar */
ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 5rem;
  margin-left: 45rem;
  text-align: center;
  justify-content: flex-end;
}

/* Style the active list item */
li.active a {
  color: rgb(142, 106, 206);
  text-decoration: none;
}

li:hover {
  color: rgb(142, 106, 206);
}

/* Style the links in the navbar */
ul a, .cLinkDropdown {
  margin: 1rem;
  text-decoration: none;
  color: #fff;
}

#navbarLink {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  position: relative;
  top: 2.5rem; /* adjust this value as needed */
}

/* Style the dropdown menu */
.dropdown {
  position: relative;
}

/* Style the dropdown button */
.dropbtn {
  color: rgb(249, 249, 249);
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.625rem;
  cursor: pointer;
  display: flex;
  position: relative;
  top: 2.5rem;
}

/* Style the dropdown content */
.dropdown-content {
  position: absolute; /* change position to relative */
  z-index: 1;
  background-color: #1C1C1C;
  display: none;
  width: 12rem;
  left: -3rem;
  right: 0;
  margin: auto;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  margin-left: -2rem !important;
  white-space: nowrap;
  margin-top: -.2rem;
}

ul a:hover {
  color: rgb(142, 106, 206);
  filter: brightness(120%);
}

.dropbtn i {
  display: inline-block;
  padding-left: .4rem;
  margin-top: .4rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Set the active dropdown link */
.dropdown-content a:hover {
  text-align: left;
  color: rgb(142, 106, 206);
}

/* Media queries */
@media screen and (max-width: 959.99px) {
  /* Hide the navbar links */
  .webpage-ul {
    display: none;
  }

  .fa-regular, .fa-solid {
    width: 2rem;
    height: 2rem;
  }

  .dropbtn i {
    display: inline-block;
    padding-right: .25rem;
    margin-top: .33rem;
  }
  
  .hide-mobile {
    transition: all 0.5s ease-in-out;
    display: none;
  }

  /* Set mobile menu links to align vertically */
  .mobile-menu-ul {
    display: block;
    list-style: none;
    background-color: #1C1C1C;
    padding: 1rem;
    text-align: center;
    margin-left: 0;
  }

  .cLinkDropdown-mobile, .cLink-mobile {
    text-align: center;
  }

  /* Show the dropdown button */
  .dropbtn {
    display: flex;
  }
  
  /* Style the dropdown menu */
  .dropdown-content {
    position: static;
    display: none;
    width: auto;
    margin: 0;
  }
  
  /* Show the dropdown menu on click */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    margin: 0;
    padding: 1rem;
    border-top: 1px solid #333;
  }

  /* Style the menu-icon */
  .menu-icon {
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 90%;
    margin-top: -4.5rem;
  }

  .site-title img {
    height: 3.8rem;
    margin-left: 33%;
    margin-top: .25rem;
  }


}

@media screen and (min-width: 960px) {
  .menu-icon, .mobile-menu-ul {
    display: none;
  }

  .webpage-ul {
    margin-top: -5%;
  }
}
